.title-user{
    display: flex;
    border-bottom: 2px solid gray;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10vw;
    button{
        padding: 10px 20px;
        border-radius: 5px;
        color: white;
        background-color: green;
        border: none;
        cursor: pointer;
        font-weight: 600;
        font-size: medium;
        &:hover{
            background-color: rgb(1, 82, 1);
        }
    }
}

.todo-container{
    padding: 5% 10%;
    z-index: 0;
}
